extends base

block content
 include _header
 .container.login-form
    h3 Please fil up the form to change password
    if errors
     each error in errors
      .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        p=error.msg
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
    form(action=`/change-password/${user._id.toString()}` method="POST")
          .mb-3
            label.form-label(for='password') New Password
            input#password.form-control(type='password' name="newPassword" value=`${typeof password != 'undefined' ? password : ''}`)  
          .mb-3
            label.form-label(for='confirmPassword') Confirm password
            input#confirmPassword.form-control(type='password' name="passwordConfirm" value=`${typeof passwordConfirm != 'undefined' ? passwordConfirm : ''}` )
          button.btn.btn-success(type="submit") Update Password