#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
     .modal-header
        h5#exampleModalLabel.modal-title You can download your report  as docx or pdf
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
     .modal-body.d-flex.justify-content-around
        button.btn.btn-outline-primary export as .docx 
        button.btn.btn-outline-danger export as .pdf
     