extends error 

block err-content 
    .container.text-center.login-form
         p.not-found OOPS SOMETHING WENT WRONG! <br> PLEASE TRY AGAIN LATER 
         h1 this is something we're trying to fix.