extends base 

block content
 nav.navbar.navbar-expand-lg.navbar-dark.bg-success
        .container-fluid
            a.navbar-brand(href='/') EXAM MONITORING
 .container.login-form
    h3 Please input your new password
    if errors
     each error in errors
      .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        p=error.msg
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
    form(action=`/reset-password/${hashToken}` method="POST")
        .mb-3
            label.form-label(for='password') Password
            input#password.form-control(type='password' name="password" value=`${typeof password != 'undefined' ? password : ''}`)
        .mb-3
            label.form-label(for='confirmPassword') Confirm password
            input#confirmPassword.form-control(type='password' name="passwordConfirm" value=`${typeof passwordConfirm != 'undefined' ? passwordConfirm : ''}` )
        button.btn.btn-success(type="submit") Update Password